<footer>
    <h1>Lorem, ipsum dolor</h1>
    <p>sit amet consectetur adipisicing elit. Facere eveniet atque placeat nesciunt excepturi. Perferendis magni dolorum nisi nesciunt non deleniti rem veniam ab dolor cupiditate, sed consequatur blanditiis ex?</p>
</footer>