<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("partials/head") %> 
  </head>
  <body>
    <%- include('partials/navigation') %> 
    <main class="container vh-100 pt-2 d-flex justify-content-center text-center align-items-center">
      <section>
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut repudiandae vitae consequuntur dolores fugit, temporibus vel? Minus ad quia aliquam laudantium autem facilis suscipit qui, inventore iste rerum iure aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae et asperiores eaque officia in eius culpa rerum quibusdam ex. Exercitationem aut molestiae asperiores voluptate repudiandae est excepturi dolor dolores dolorem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, fuga? Veniam velit inventore nihil ipsum minima et quisquam, ea excepturi ipsam in amet numquam atque voluptatum repellat consectetur quas iure Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores doloribus quaerat, dolor cumque optio architecto dolore repellendus et quos delectus nesciunt harum facilis qui a! Tempora odit suscipit ipsum laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quas eum, soluta maiores eveniet numquam rerum? Quasi veritatis, ab adipisci quis dolorum autem odit porro placeat alias temporibus eius nisi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem aliquam odio at inventore quasi neque itaque dolorem ab dolore deleniti sint, possimus, voluptas maiores vel earum, nihil consectetur officiis est.</p>
      </section>
    </main>
  </body>
</html>